* {
	padding: 0;
	margin: 0;
}

.border-radius (@radius: 5px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

body, html {
	font-family: 'Trebuchet MS', sans-serif;
	background: #A9B0B3;
	width: 100%;
	overflow: hidden;
}

.url, .id {
	display: none !important;
}

input[type=button], input[type=submit], a {
	border: none;
	outline: none;
	cursor: pointer;
}

.row {
	position: relative;
	padding: 10px 2px 10px 8px;
	border: 1px solid #272822;
	margin: 3px 0;

	> div {
		display: inline-block;
	}

	.song, .artist {
		width: 90%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.song {
		font-size: 20px;
	} 

	.artist {
		font-size: 14px;
	}
}

header {
	text-align: center;
	font-size: 30px;
	padding: 2px 0 5px;

	#add_songs, #back {
		position: absolute;
		top: 4px;
		background: #A4E66B;
		padding: 4px 8px;
		font-size: 16px;
		.border-radius(5px);
	}

	#add_songs {
		right: 4px;
	}

	#back {
		left: 4px;
	}
}

#player {
	margin: auto;
	text-align: center;

	#prev, #next {
		background: #313333;
		color: #E9E9E9;
		font-size: 42px;
		margin: 0;
		line-height: 23px;
		.border-radius(7px);
	}

	#prev {
		padding: 0 4px 7px 2px;
	}

	#next {
		padding: 0 2px 7px 4px;
	}
}

#container {
	width: 200%;
	position: absolute;
	display: block;

	#playlist_view, #add_view {
		width: 48%;
		display: inline-block;
		padding: 10px 5px;
		overflow: scroll;
	}

	#playlist_view {
		float: left;

		#current .row {
			border: 2px solid #F0D41A;
			margin-bottom: 10px;
		}

		.delete {
			position: absolute;
			top: 30%;
			right: 3%;
			font-size: 24px;
		}
	}

	#add_view {
		float: right;

		form {
			margin: auto;
			text-align: center;

			#search_box {
				font-size: 20px;
				padding: 5px;
				width: 260px;
			}

			#search {
				font-size: 18px;
				padding: 5px;
			}

			.spinner {
				display: inline-block;
				background: url('/spinner.gif') no-repeat;
				width: 20px;
				height: 20px;
				background-size: 20px 20px;
			}
		}

		#add_list {
			margin-top: 10px;
		}

		.add {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transition: .5s all;
			-moz-transition: .5s all;
			transition: .5s all;
			.border-radius(50%);
			background: #4EA321;
			padding: 0px 5px 1px;
			position: absolute;
			top: 30%;
			right: 3%;
			font-size: 24px;

			&.remove {
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				transform: rotate(0deg);
				background: #E04B2E;
				padding: 1px 5px 0px;
			}
		}

		#more {
			font-size: 18px;
			padding: 5px;
			.border-radius(5px);
			margin: 8px auto;
			display: block;
		}
	}
}

@media only screen and (min-width: 760px) {
	#container {
		width: 100%;
	}

	#back, #add_songs {
		display: none !important;
	}
}