* {
	padding: 0;
	margin: 0;
}

.border-radius (@radius: 5px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}

body, html {
	font-family: 'Trebuchet MS', sans-serif;
	background: #A9B0B3;
	width: 100%;
	overflow: hidden;
}

.url, .id {
	display: none !important;
}

.add {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	position: absolute;
	.border-radius(50%);
	background: #4EA321;
	padding: 1px 4px;
	cursor: pointer;

	&.remove {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
		background: #E04B2E;
		-webkit-transition: .5s all;
		-moz-transition: .5s all;
		transition: .5s all;
	}
}

td {
	position: relative;
}

input[type=button, a {
	border: none;
	outline: none;
	cursor: pointer;
}

#prev, #next {
	background: #313333;
	color: #E9E9E9;
	font-size: 42px;
	margin: 0;
	line-height: 23px;
	.border-radius(7px);
}

#prev {
	padding: 0 4px 7px 2px;
}

#next {
	padding: 0 2px 7px 4px;
}

header {
	text-align: center;
	font-size: 20px;
	padding: 2px 0 5px;
}

#player {
	margin: auto;
	text-align: center;
}

#add_songs, #back {
	position: absolute;
	top: 2px;
	background: #A4E66B;
	padding: 2px 4px;
	font-size: 14px;
}

#add_songs {
	right: 4px;
}

#back {
	left: 4px;
}

#current {
	border: 2px solid #F0D41A;
}

#playlist_view, #add_view {
	width: 48%;
	display: inline-block;
	padding: 10px 5px;
}

#playlist_view {
	float: left;
}

#add_view {
	float: right;
}

#container {
	width: 200%;
	position: absolute;
}

#search_box {
	font-size: 20px;
	cursor: text;
	padding: 5px;
	width: 260px;
}

#search {
	font-size: 18px;
	padding: 5px;
}

#add_list {
	width: 95%;
}

.row > div {
	display: inline-block;
}

.row > .song, .row > .artist {
	width: 45%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.delete {
	float: right;
}

form {
	margin: auto;
	text-align: center;

	.spinner {
		display: inline-block;
		background: url('/spinner.gif') no-repeat;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
	}
}


@media only screen and (min-width: 760px) {
	#container {
		width: 100%;
	}

	#back, #add_songs {
		display: none !important;
	}
}